@import url("./cssreset.css");
@import url("../fonts/inter.css");
@import url("../fonts/librebaskerville.css");

/* Personalized cssreset */
body {
  font-family: "Inter var";
  text-rendering: optimizeLegibility;

  background-color: gray;
}

a { 
  color: inherit;
  text-decoration: none;
}

/* Header */
header {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  position: sticky;
  top: -1px;
  z-index: 10;
}

nav {
  display: flex;
}

.logo {
  width: 10em;
  padding: 2em 0.5em;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/logo.webp");
}

/* Selects all links on navbar */
nav a {
  padding: 2rem 1rem;

  display: flex;
  transition: background-color 0.2s;
  
  text-decoration: none;
  color: white;
}

nav a:visited {
  color: white;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.5)
}

.nav-dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 20ch;
  z-index: 1;
}

.nav-dropdown:hover .nav-dropdown-content {
  display: block;
}

.nav-icon {
  filter: invert();
  margin-left: 0.25em;
  width: 1em;
}

/* Specific to download button */
.btn-download {
  height: 100%;  
  display: flex;
  align-items: center;
  padding: 0 2em;

  font-size: 24px;
  font-weight: 700;

  color: black;
  background-color: hsl(48, 100%, 53%)
}

.btn-download:hover {
  background-color: hsl(48, 100%, 70%)
}

.btn-download:visited {
  color: black;
}

.nav-left { 
  display: flex;
  justify-content: center;
}

.nav-left a {
  text-transform: uppercase;
}

.nav-right { 
  display: flex;
}

/* Footer */

footer {
  min-height: 20vh;

  display: flex;
  direction: column;
  align-items: center;
  justify-content: center;

  color: white;
  background-color: hsl(0, 0%, 7%);
}

.footer-legal {
  line-height: 1.5em;
}

.footer-legal-links > a {
  padding: 0em 1em;
}

.footer-legal-links > a:not(:last-child) {
  border-right: solid white 1px;
}

.footer-copyright {
  display: flex;
  justify-content: center;
}

.footer-community {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-community-header {
  display: flex;
  justify-content: center;

  font-weight: 600;
  font-size: 24px;
}

.footer-community-icons {
  display: flex;
}

.footer-community-icons > a > object {
  padding: 1em .5em;
  width: 2em;
  filter: invert();
}

/* Utils */

.flex-spacer {
  flex-grow: 1;
}

@media (max-width: 1536px) {
  .logo {
    padding: 1em 0.5em;
  }

  nav > div > a {
    padding: 2em 0.5rem;
  }

  .btn-download {
    padding: 0 1em;
  }
}

@media (max-width: 1280px) {

}