/* Start of bg-top */

.bg-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-image: url("../images/bg-top.webp");
  background-size: cover;
  background-position: bottom;
}

form {
  padding: 2rem;
  background-color: hsla(0, 0%, 7%, 0.6);

  color: white;
  display: flex;
  flex-direction: column;
}

.form-header {
  margin-bottom: 2em;
  color: white;

  font-weight: 600;
  font-size: 24px;
}

.form-input {
  padding: 0.5em 0em;
}

button[type="submit"] {
  margin-top: 1rem;
}